*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    
    
}



/* Social media picture styling */






/* Header Styling */
header{
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
    padding: 10px;
    background-color: white;
    align-items: center;
}
.contentOfPartsOfTheWeb{
    display: flex;
    justify-content: flex-start;
    justify-content: space-around;
    color: black;
     
}
/* #36384c
#0782a2
#0d154d */

.contentOfPartsOfTheWeb a{
    color:black;
    text-decoration: none;
    display: inline-block;
    padding:10px 15px;
    line-height: normal;
    font-size: 14px;
    transition: all 500ms ease;
    border-bottom: 4px solid transparent;
}

.contentOfPartsOfTheWeb a:hover{
  color:#36384c ;
  border-bottom: 4px solid #0d154d;
}


.menu{
    display: flex;
    justify-content: center;
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px solid #0782a2;
    margin: auto;
}

.social-media{
    
    width:80px;
    
}
.social-links{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    row-gap: 20px;   
    position: relative;
}


/* Body de la pagina Web */

/* Responsive con Grid */
body  {
    background-color:#0782a2 ;
    width: 100%;
    display: grid;
    gap: 2em;
    grid-template-columns:
    repeat(auto-fit,
    mixmax(150px,1fr))
    
}
/* display: grid;
    grid-template-columns:
    repeat(auto-fit,
    mixmax(150px,1fr)) ; */

/* Encabezado */
.content-cabecera{
    width: 100%;
    margin-top: 50px;
    text-align: center;
}

.content-logo{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid#0d154d;
    margin: auto;
}

.content-logo img{
    width: 100%;
    height: 100%;
} 

.content-moto{
    margin: auto; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.content-moto h1{
    margin-top: 20px ;
}
.content-moto p{
    margin-top: 20px
}
/* Imagen de Portada */
.imagenPrincipal{
    display: flex;
    justify-content: center;
}

.imagenPiscina{
    width: 70%;
}


.firstParagraph{
    display: flex;

}
/* Section 1 Content 1 */

#photoInDiag{

    padding-left: 5%;
    padding-top: 5%;
}

.content1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5%;
    
}

#introduction{
    padding-top: 5%;
}

.orientation{
    padding-top: 5%;
}

/* section 2 Our Center */
.absoluteTitle{
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 5%;
}
.imgOfCenter{
    display: flex;
    justify-content: center;
   
}


.poolDetails{
    width: 50%;
}


.textInMosaic{
    display: flex;
    flex-direction: column;
    padding-top: 5%;
   
}

.textInMosaic1{
    display: flex;
    justify-content: space-around;
}

.textInMosaic2{
    padding-top: 30px;
    display: flex;
    justify-content: space-around;
}


#photo-aside{
    width: 300px;
}

/* Responsive web design */
/* @media  (width <= 320px){
    .content-moto
{background-color: red;
    width: 100%;

}
}

@media  (320px <= width <= 600px){
    .content-moto
{background-color: blue;

}
}

@media  (width >= 600px){
    .content-moto
{background-color: green;

}
} */


.typeOfClasses{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

}

.textOfClases{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 60%;
    padding-top: 5%;
    justify-content: center;
    
}

.classDescription{
    padding-top: 5%;
}


.ourMethods{
    
display: flex;
flex-direction: column;
padding: 5%;

}
#separador{
    position: relative;
    width: 100%;
    color: black;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px solid black;
    margin-top: 16px;
}

#imgOfFinal{
    display: flex;
    justify-content: center;
}




/* Maps Syle */
.whereAreWe{
    width: 100%;
    height: 600px;
}




/* Footer */


footer{
    width: 100%;
   
    bottom: 0;
    background: linear-gradient(to right,#00093c,#2d0b00);
    color:#fff;
    padding: 100px 0 30px;
    
    font-size: 13px;
    line-height: 20px;
}

.row{ 
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    padding: 10px;
}

#col{
    flex-basis: 25%;
    padding: 10px;
    
}
.logo{
    width: 300px;
    height: 300px;
    margin-bottom: 30px;
    border-radius: 300px;
}

#footerLinks{
    display: flex;
    flex-direction: column;
}